body {
 
  background: #E8E7DE;
 
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
canvas{
  z-index: 3;
}
button{
  color: #1c1c1c;
  border-width: 2px;
    border-color: #B6B6B6;
    border-radius: 3px;
    border-style: solid;
    background: #F1F1F1;
  z-index: 4;
}
h1{
  
  margin: 0;
  font-size: 120px;
  font-weight: 200;
}
#back{

  position: absolute;
  left: 20px;
  bottom: 50vh;
  height: 30px;
}
#next{
 
  position: absolute;
  right: 20px;
  bottom: 50vh;
  height: 30px;
}
#reset{
  cursor: pointer;
  z-index: 5;
  position: absolute;
  bottom: 48px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;

}
#about{
  color:#2d2d2d;
  text-decoration: underline;     
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  z-index: 5;
  position: absolute;
  bottom: 16px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;

}
#description{
  position: fixed;
  top: -5px;
  left: 0px;
}
#canvasContainer{
  z-index: 7;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  background-image: url("assets/baseball.png");
}
#danceContainer{
  z-index: 8;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
    padding: 30px;
    background: white;
}
#keyboardletters{
  font-family: 'League Script', cursive;
  margin: 0;
  word-wrap: break-word;
    font-size: 120px;
    
    width: 102vw;
    white-space: normal;
}
canvas {
  z-index: 12;
  /* transform:rotateX(45deg);
  perspective-origin: (50%); */
}
#keyboardText{
  display: none;
  
}

@media (max-width: 600px) {
  #keyboardletters{
    font-size: 64px;
  }
  #danceContainer {
    all: unset;
    zoom: 32%;
    z-index: 8;
    position: none;
    top: none;
    left: none;
    -webkit-transform: none;
    transform: none;
    /* margin: 16px; */
    padding: 30px;
    background: white;
    position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #next {
    
    position: fixed;
    right: 98px;
    left: calc((100% - 24px - 82px)/2 + 12px);
    bottom: 8px;
    height: 36px;

  }
  #about{
    bottom: 50px;
    right: -2px;

  }
  #back {

    position: fixed;
    bottom: 8px;
    height: 30px;
    left: 8px;
    width: calc(100% -20px);
    width: calc((100% - 24px - 82px)/2 - 4px);
    height: 36px;
  }
  #reset{
  
    position: fixed;
    bottom: 8px;
    right: 8px;
  }
  #keyboardText{
    z-index: 9;
    display: initial;
    all: unset;
    /* zoom: 32%; */
    z-index: 8;
    position: none;
    top: none;
    left: none;
    -webkit-transform: none;
    transform: none;
    /* margin: 16px; */
    padding: 4px;
    background: white;
    position: fixed;
    top: calc(45% - 203px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-width: 1px;
    border-color: #2d2d2d;
    border-radius: 3px;
    border-style: solid;
  }
}
